@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
  font-size: 100%;
  overflow-x: hidden;
}

@media only screen and (max-width: 1500px) {
  html {
    font-size: 62.5%;
  }
}

@media only screen and (max-width: 1024px) {
  html {
    font-size: 56.25%;
  }
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 1.6rem;
}

img {
  max-width: 100%;
}

input {
  font-size: 16px !important;
}


/* @media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
} */

/* toastify */

@media only screen and (max-width: 650px) {
  .Toastify__toast-container {
    width: 90% !important;
    margin: 2rem auto !important;
    right: 0 !important;
  }
}

.Toastify__toast--success,
.Toastify__toast--error {
  font-size: 1.7rem;
}

.home-page-clip{
  clip-path: polygon(0 0, 100% 0, 100% 90%, 0% 100%);
}

.fade-in {
  animation-name: fadeIn;
  animation-duration: 1000ms;
}

@keyframes fadeIn {
  from { opacity: 0 }
  to { opacity: 1 }
}

/*animation for text*/
@keyframes titleAnimation {
  0% {
    transform: translateX(-40%);
    opacity: 0;
    clip-path: polygon(50% 0%, 100% 0%, 100% 100%, 50% 100%);
    color: #BDBDBD;
  }

  20% {
    transform: translateX(0);
    opacity: 1;
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0 100%);
    color: #06283D;
  }

  80% {
    transform: translateX(0);
    opacity: 1;
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0 100%);

  }

  100% {
    opacity: 1;
  }
}

.logo-animation{
  animation: titleAnimation 4s ease-in;
}

