@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
  font-size: 100%;
  overflow-x: hidden;
}

@media only screen and (max-width: 1500px) {
  html {
    font-size: 62.5%;
  }
}

@media only screen and (max-width: 1024px) {
  html {
    font-size: 56.25%;
  }
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 1.6rem;
}

img {
  max-width: 100%;
}

input {
  font-size: 16px !important;
}

.home {
  background-color: linear-gradient(#06283db3, #1365df74);
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}

/* @media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
} */

/* toastify */

@media only screen and (max-width: 650px) {
  .Toastify__toast-container {
    width: 90% !important;
    margin: 2rem auto !important;
    right: 0 !important;
  }
}

.Toastify__toast--success,
.Toastify__toast--error {
  font-size: 1.7rem;
}